/* COLOR SCHEME
Terra Cotta #E07A5F
Deep Slate Blue #3D405B
*/

/* SITE WIDE */

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/* HAMBUERGER NAVIGATION */

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}