/****************** COLOR SCHEME ******************
Terra Cotta #E07A5F
Deep Slate Blue #3D405B
*/

/****************** SITE WIDE ******************/

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    width: 100%;
}

/****************** HEADER ******************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/****************** HAMBURGER NAVIGATION ******************/

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/****************** NAVIGATION ******************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E07A5F;
}

/****************** MAIN ******************/

h1 {
    margin: 0 auto;
    padding: 1rem;
    background-color: #3D405B;
    color: #ccc;
    text-align: center;
}

section h2{
    text-align: center;
    padding: 12px 0 8px 0;
    margin: 0;
    color:#3D405B;
}

section p {
    padding-bottom: 10px;
}

section img {
    width: 100%;
    height: auto;
    max-width: 256px;
    border-radius: 1rem;
    border: #cecece solid 1px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/****************** FOOTER ******************/

footer {
    padding: 0;
    text-align: center;
}

footer div {
    margin: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-top: 16px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #E07A5F;
}

.info {
    background-color: #eee;
    padding: 5px;
    margin: 0 auto;
}

.info div {
    margin: 0 auto;
    padding: 0.2rem;
}

/******************* DIRECTORY *******************/

section {
    margin: 0 auto;
    padding: 1rem;
}

#membersContainer {
    margin-top: 1rem;
    display: grid;
    gap: 2rem;
}

.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list-view {
    display: block;
}

.member-card {
    border: 1px solid #ccc;
    padding: 1rem;
    background:#f8f8f8;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.member-card p{
padding: 0;
}

.list-view .member-card {
    margin-bottom: 1rem;
}

.member-card img {
    width: 50%;
    height: auto;
    border: none;
    padding: 0;
}

.view-buttons {
    display: none;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin: 0.5rem auto;
}

#gridBtn, #listBtn {
    background-color: #3D405B;
    color: #ccc;
    padding: 1rem;
    border: 1px solid #3D405B;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
}

#gridBtn:hover, #listBtn:hover{
    background-color: #E07A5F;
}

.btn-img {
    width: 1.5rem;
    height: auto;
    border-radius: 0;
    margin: 0 auto;
    border: 0;
    padding-top: 2px;
    align-items: center;
}