@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 100%;
    }

    img {
        display: block;
        width: 25%;
        align-items: center;
        margin: 0 auto;
    }

    header {
        margin: 0 auto;
        font-size: 1.5rem;
    }

    header span {
        padding-top: 9px;
        font-size: 1.5rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        margin: 0 auto;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
        margin: 0;
    }

    .head-navegation {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.5rem;
        align-items: center;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #eee;
        text-align: left;
        align-items: center;
        padding: 1rem;
    }

    .social a {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
    }

    .social img {
        width: 2rem;
        height: auto;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .view-buttons {
        display: grid;
    }

    .member-card img {
        width: 100%;
        height: auto;
        border: none;
        padding: 0;
    }

    .member-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 25px #0000002e;
    }

    .spotlight-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 25px #0000002e;
    }

    /******************* LIST *******************/

    .list-view {
        display: block !important;
    }

    .list-view .member-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 1rem;
        margin-top: 1rem;
        gap: 1rem;
    }

    .list-view .member-card img {
        display: none;
    }

    .list-view .member-card h3 {
        width: 200px;
        font-size: 1rem;
        margin: 0;
        font-weight: 600;
    }

    .list-view .member-card p {
        margin: 0;
        padding: 0;
        width: 220px;
        font-size: .9rem;
    }

    .list-view .member-card a {
        color: #2b6cb0;
        font-size: .9rem;
    }

    /******************* DISCOVER *******************/

    #places {
        display: grid;
        gap: 0;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }

    #places div {
        display: grid;
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph location"
            "photograph button";
        align-items: start;
    }

}